{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--=====================================
                    CART PART START
        =======================================-->
<section class="inner-section single-banner" style="background: url({% static 'ar/images/single-banner.jpg' %}) no-repeat center;">
    <div class="container">
        <h2>سلة المشتريات</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">الرئيسية</a></li>
            <li class="breadcrumb-item active" aria-current="page">سلة المشتريات</li>
        </ol>
    </div>
</section>

<section class="inner-section cart-part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="account-card">
                    <div class="account-title">
                        <h4>عربة التسوق الخاصة بك</h4>
                    </div>
                    <div class="account-content">
                        <div class="table-scroll">
                            <table class="table-list">
                                <thead>
                                    <tr>
                                        <th scope="col">الرقم</th>
                                        <th scope="col">المنتج</th>
                                        <th scope="col">الاسم</th>
                                        <th scope="col">السعر</th>
                                        <th scope="col">العلامة التجارية</th>
                                        <th scope="col">الكمية</th>
                                        <th scope="col">الإجراء</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in cart %}
                                    <tr id="cart-row-{{ item.product.id }}">
                                        <td class="table-serial"><h6>{{ forloop.counter }}</h6></td>
                                        <td class="table-image"><img src="{{ item.product.image.url }}" alt="product"></td>
                                        <td class="table-name"><h6>{{ item.product.name }}</h6></td>
                                        <td class="table-price"><h6>{{ item.price }} ر.س</h6></td>
                                        <td class="table-brand"><h6>{{ item.product.brand.name|default:"-" }}</h6></td>
                                        <td class="table-quantity">
                                            <div class="cart-action-group" style="justify-content: center;">
                                                <div class="product-action">
                                                    <button class="action-minus" title="Quantity Minus"><i class="icofont-minus"></i></button>
                                                    <input class="action-input" title="Quantity Number" type="text" name="quantity" value="{{ item.quantity }}" data-id="{{ item.product.id }}">
                                                    <button class="action-plus" title="Quantity Plus"><i class="icofont-plus"></i></button>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="table-action">
                                            <a class="view" href="{% url 'product_detail' item.product.slug %}" title="View Products"><i class="fas fa-eye"></i></a>
                                            <a class="trash cart-remove-btn" href="#" title="Remove Wishlist" data-id="{{ item.product.id }}"><i class="icofont-trash"></i></a>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="7" class="text-center">سلة المشتريات فارغة حالياً.</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% if cart|length > 0 %}
                <div class="checkout-charge">
                    <ul>
                        <li>
                            <span>المجموع الكلي</span>
                            <span class="cart-total-price">{{ cart.get_total_price }} ر.س</span>
                        </li>
                    </ul>
                </div>
                <div class="checkout-process">
                    <a href="{% url 'cart:checkout' %}" class="btn btn-inline">
                        <i class="fas fa-paper-plane"></i>
                        <span>إتمام الطلب</span>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!--=====================================
                    CART PART END
        =======================================-->

{% endblock %}
