{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'ar/css/user-auth.css' %}">

<!--=====================================
                    USER FORM PART START
        =======================================-->
<section class="user-form-part">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
                <div class="user-form-card">
                    <div class="user-form-title">
                        <h2>أهلاً بك!</h2>
                        <p>استخدم بيانات اعتمادك للوصول</p>
                    </div>
                    <form class="user-form" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" name="username" placeholder="ادخل اسم المستخدم أو البريد الإلكتروني">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="ادخل كلمة المرور">
                        </div>
                        <div class="form-button">
                            <button type="submit">تسجيل الدخول</button>
                            <p>نسيت كلمة المرور؟ <a href="#">استعادة هنا</a></p>
                        </div>
                    </form>
                </div>
                <div class="user-form-remind">
                    <p>ليس لديك حساب؟ <a href="#">سجل هنا</a></p>
                </div>
                <div class="user-form-footer">
                    <p>موقع واصل للمياه | &copy; جميع الحقوق محفوظة</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=====================================
                    USER FORM PART END
        =======================================-->

{% endblock %}
