{% extends 'base_account.html' %}

{% block account_title %}طرق الدفع{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'accounts:dashboard' %}">حسابي</a></li>
<li class="breadcrumb-item active" aria-current="page">طرق الدفع</li>
{% endblock %}

{% block account_content %}
<div class="account-card">
    <div class="account-title">
        <h4>بطاقاتي</h4>
        <button class="btn btn-sm btn-primary">إضافة بطاقة</button>
    </div>
    <div class="account-content">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-3 text-white bg-dark">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <i class="fab fa-cc-visa fa-2x"></i>
                            <span class="badge bg-light text-dark">Default</span>
                        </div>
                        <h5 class="card-title mb-4">**** **** **** 1234</h5>
                        <div class="d-flex justify-content-between">
                            <small>Expires: 12/26</small>
                            <small>Bassam Msmar</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
