{% load static %}
<div class="product-card">
    <div class="product-media">
        <div class="product-label">
            <label class="label-text new">{{ product.flag }}</label>
        </div>

        <a class="product-image" href="{% url 'product_detail' product.slug %}">
            <div class="product-label-group">
                <label class="product-label label-new">new</label>
                <label class="product-label label-off">-10%</label>
            </div>
            <img src="{{ product.image.url }}" alt="product" />
        </a>
        <div class="product-widget">
            <a title="Product View" href="#" class="fas fa-eye" data-bs-toggle="modal"
                data-bs-target="#product-view"></a>
        </div>
    </div>
    <div class="product-content">
        <div class="product-rating">
            <i class="active icofont-star"></i>
            <i class="active icofont-star"></i>
            <i class="active icofont-star"></i>
            <i class="active icofont-star"></i>
            <i class="icofont-star"></i>
            <a href="#">(3)</a>
        </div>
        <h6 class="product-name">
            <a href="{% url 'product_detail' product.slug %}">{{ product.name }}</a>
        </h6>
        <h6 class="product-price">
            {% if product.new_price > 0 %}
            {% if product.old_price > product.new_price %}
            <del>{{ product.old_price }}</del>
            {% endif %}
            <span>{{ product.new_price }}<small>/piece</small></span>
            {% else %}
            <span>{{ product.old_price }}<small>/piece</small></span>
            {% endif %}
        </h6>
        <button class="product-add" title="Add to Cart">
            <i class="fas fa-shopping-basket"></i>
            <span>add</span>
        </button>
        <div class="product-action">
            <button class="action-minus" title="Quantity Minus">
                <i class="icofont-minus"></i>
            </button>
            <input class="action-input" title="Quantity Number" type="text" name="quantity" value="1" />
            <button class="action-plus" title="Quantity Plus">
                <i class="icofont-plus"></i>
            </button>
        </div>
    </div>
</div>