{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--=====================================
                    PRODUCT VIEW START 
                    النافذة المنبثقة من النقر على المنتج
        =======================================-->
<div class="modal fade" id="product-view">
  <div class="modal-dialog">
    <div class="modal-content">
      <button class="modal-close icofont-close" data-bs-dismiss="modal"></button>
      <div class="product-view">
        <div class="row">
          <div class="col-md-6 col-lg-6">
            <div class="view-gallery">
              <div class="view-label-group">
                <label class="view-label new">new</label>
                <label class="view-label off">-10%</label>
              </div>
              <ul class="preview-slider slider-arrow">
                <li><img src="{{ product.image.url }}" alt="product" /></li>
              </ul>
              <ul class="thumb-slider">
                <li><img src="{{ product.image.url }}" alt="product" /></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-6">
            <div class="view-details">
              <h3 class="view-name">
                <a href="product-video.html">{{ product.name }}</a>
              </h3>
              <div class="view-meta">
                <p>SKU:<span>{{ product.sku }}</span></p>
                <p>BRAND:<a href="#">radhuni</a></p>
              </div>
              <div class="view-rating">
                <i class="active icofont-star"></i>
                <i class="active icofont-star"></i>
                <i class="active icofont-star"></i>
                <i class="active icofont-star"></i>
                <i class="icofont-star"></i>
                <a href="product-video.html">(3 reviews)</a>
              </div>
              <h3 class="view-price">
                <del>{{ product.old_price }}</del>
                <span>{{ product.new_price }}<small>/per kilo</small></span>
              </h3>
              <p class="view-desc">{{ product.description }}</p>
              <div class="view-list-group">
                <label class="view-list-title">tags:</label>
                <ul class="view-tag-list">
                  {% for tag in product.tags.all %}
                  <li><a href="#">{{ tag }}</a></li>
                  {% endfor %}
                </ul>
              </div>

              <div class="view-add-group">
                <button class="product-add" title="Add to Cart">
                  <i class="fas fa-shopping-basket"></i>
                  <span>add to cart</span>
                </button>
                <div class="product-action">
                  <button class="action-minus" title="Quantity Minus">
                    <i class="icofont-minus"></i>
                  </button>
                  <input class="action-input" title="Quantity Number" type="text" name="quantity" value="1" />
                  <button class="action-plus" title="Quantity Plus">
                    <i class="icofont-plus"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--=====================================
                    PRODUCT VIEW END
        =======================================-->

<!--=====================================
                    BANNER PART START
                    فئات العروض 
        =======================================-->
<section class="home-index-slider slider-arrow slider-dots">
  {% for banner in banners %}
  <div class="banner-part banner">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 col-lg-6">
          <div class="banner-content">
            <h1>{{ banner.title }}</h1>
            <p>{{ banner.description }}</p>
            <div class="banner-btn">
              <a class="btn btn-inline" href="#">
                <i class="fas fa-shopping-basket"></i>
                <span>اشتري الآن</span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6">
          <div class="banner-img">
            <img src="{{ banner.image.url }}" alt="banner" />
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</section>
<!--=====================================
                    BANNER PART END
        =======================================-->

<!--=====================================
                    SUGGEST PART START
                    الخيارات من تحت البنرات الاعلانية 
        =======================================-->
<section class="section-home-categories suggest-part">
  <div class="container">

    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 justify-content-center">
      {% for category in categories %}
      {% if category.product_category.count > 0 %}
      <div class="col">
        <div class="product-card text-center">
          <div class="product-media">
            <a class="product-image" href="{% url 'category_detail' category.pk %}">
              {% if category.image %}
              <img src="{{ category.image.url }}" alt="{{ category.name }}" />
              {% else %}
              <img src="{% static 'ar/images/default-product.png' %}" alt="{{ category.name }}" />
              {% endif %}
            </a>
          </div>
          <div class="product-content">
            <h6 class="product-name">
              <a href="{% url 'category_detail' category.pk %}">{{ category.name }}</a>
            </h6>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
<!--=====================================
                    SUGGEST PART END
        =======================================-->

<!--=====================================
                    RECENT PART START
                    اول منتجات بعد الخيارات 
        =======================================-->
<section class="section recent-part">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2>احدث العروض</h2>
        </div>
      </div>
    </div>
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
      {% for product in latest_products %}
      <div class="col">
        {% include 'includes/product_card.html' with product=product %}
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="section-btn-25">
          <a href="{% url 'product_list' %}" class="btn btn-outline">
            <i class="fas fa-eye"></i>
            <span>منتجات اكثر</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=====================================
                    RECENT PART END
        =======================================-->

<!--=====================================
                    PROMOTION PART START
                    بنر عروض الجملة 
        =======================================-->
{% for banner in bundle_offer_banner %}
<div class="section promo-part">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="promo-img">
          <a href="#"><img src="{{ banner.image.url }}" alt="promo" /></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<!--=====================================
                    PROMOTION PART END
        =======================================-->

<!--=====================================
                    BRAND PART START
                    العلامات التجارية
        =======================================-->
<section class="section brand-part">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading">
          <h2>العلامات التجارية</h2>
        </div>
      </div>
    </div>
    <div class="brand-slider slider-arrow">
      {% for brand in brands %}
      <div class="brand-wrap">
        <div class="brand-media">
          <img src="{{ brand.image.url }}" alt="brand" />
          <div class="brand-overlay">
            <a href="{% url 'brand_detail' brand.id %}"><i class="fas fa-link"></i></a>
          </div>
        </div>
        <div class="brand-meta">
          <h4>{{ brand.name }}</h4>
          <p>({{ brand.product_brand.count }} عرض)</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="section-btn-50">
        <a href="{% url 'brand_list' %}" class="btn btn-outline">
          <i class="fas fa-eye"></i>
          <span>كل العلامات التجارية</span>
        </a>
      </div>
    </div>
  </div>
  </div>
</section>
<!--=====================================
                    BRAND PART END
        =======================================-->

<!--=====================================
                    FEATURED PART START
                    المنتجات المميزة 
        =======================================-->
<section class="section feature-part">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2>عروض واصل</h2>
        </div>
      </div>
    </div>
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
      {% for product in bundle_products %}
      <div class="col">
        {% include 'includes/product_card.html' with product=product %}
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="section-btn-25">
          <a href="shop-4column.html" class="btn btn-outline">
            <i class="fas fa-eye"></i>
            <span>show more</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=====================================
                    FEATURE PART END
        =======================================-->


<!--=====================================
                  TESTIMONIAL PART START
                  اراء العملاء
        =======================================-->
<!-- <section class="section testimonial-part">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading">
          <h2>client's feedback</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="testimonial-slider slider-arrow">
          <div class="testimonial-card">
            <i class="fas fa-quote-left"></i>
            <p>
              Lorem ipsum dolor consectetur adipisicing elit neque earum
              sapiente vitae obcaecati magnam doloribus magni provident ipsam
            </p>
            <h5>mahmud hasan</h5>
            <ul>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
            </ul>
            <img src="images/avatar/01.jpg" alt="testimonial" />
          </div>
          <div class="testimonial-card">
            <i class="fas fa-quote-left"></i>
            <p>
              Lorem ipsum dolor consectetur adipisicing elit neque earum
              sapiente vitae obcaecati magnam doloribus magni provident ipsam
            </p>
            <h5>mahmud hasan</h5>
            <ul>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
            </ul>
            <img src="images/avatar/02.jpg" alt="testimonial" />
          </div>
          <div class="testimonial-card">
            <i class="fas fa-quote-left"></i>
            <p>
              Lorem ipsum dolor consectetur adipisicing elit neque earum
              sapiente vitae obcaecati magnam doloribus magni provident ipsam
            </p>
            <h5>mahmud hasan</h5>
            <ul>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
            </ul>
            <img src="images/avatar/03.jpg" alt="testimonial" />
          </div>
          <div class="testimonial-card">
            <i class="fas fa-quote-left"></i>
            <p>
              Lorem ipsum dolor consectetur adipisicing elit neque earum
              sapiente vitae obcaecati magnam doloribus magni provident ipsam
            </p>
            <h5>mahmud hasan</h5>
            <ul>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
            </ul>
            <img src="images/avatar/04.jpg" alt="testimonial" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!--=====================================
                   TESTIMONIAL PART END
        =======================================-->

<!--=====================================
                      BLOG PART START
                      المقالات
        =======================================-->
<!-- <section class="section blog-part">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading">
          <h2>Read our articles</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="blog-slider slider-arrow">
          <div class="blog-card">
            <div class="blog-media">
              <a class="blog-img" href="#">
                <img src="images/blog/01.jpg" alt="blog" />
              </a>
            </div>
            <div class="blog-content">
              <ul class="blog-meta">
                <li>
                  <i class="fas fa-user"></i>
                  <span>admin</span>
                </li>
                <li>
                  <i class="fas fa-calendar-alt"></i>
                  <span>february 02, 2021</span>
                </li>
              </ul>
              <h4 class="blog-title">
                <a href="blog-details.html"
                  >Voluptate blanditiis provident Lorem ipsum dolor sit amet</a
                >
              </h4>
              <p class="blog-desc">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias
                autem recusandae deleniti nam dignissimos sequi ...
              </p>
              <a class="blog-btn" href="#">
                <i class="icofont-arrow-left"></i>
                <span>read more</span>
              </a>
            </div>
          </div>
          <div class="blog-card">
            <div class="blog-media">
              <a class="blog-img" href="#">
                <img src="images/blog/02.jpg" alt="blog" />
              </a>
            </div>
            <div class="blog-content">
              <ul class="blog-meta">
                <li>
                  <i class="fas fa-user"></i>
                  <span>admin</span>
                </li>
                <li>
                  <i class="fas fa-calendar-alt"></i>
                  <span>february 02, 2021</span>
                </li>
              </ul>
              <h4 class="blog-title">
                <a href="blog-details.html"
                  >Voluptate blanditiis provident Lorem ipsum dolor sit amet</a
                >
              </h4>
              <p class="blog-desc">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias
                autem recusandae deleniti nam dignissimos sequi ...
              </p>
              <a class="blog-btn" href="#">
                <i class="icofont-arrow-left"></i>
                <span>read more</span>
              </a>
            </div>
          </div>
          <div class="blog-card">
            <div class="blog-media">
              <a class="blog-img" href="#">
                <img src="images/blog/03.jpg" alt="blog" />
              </a>
            </div>
            <div class="blog-content">
              <ul class="blog-meta">
                <li>
                  <i class="fas fa-user"></i>
                  <span>admin</span>
                </li>
                <li>
                  <i class="fas fa-calendar-alt"></i>
                  <span>february 02, 2021</span>
                </li>
              </ul>
              <h4 class="blog-title">
                <a href="blog-details.html"
                  >Voluptate blanditiis provident Lorem ipsum dolor sit amet</a
                >
              </h4>
              <p class="blog-desc">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias
                autem recusandae deleniti nam dignissimos sequi ...
              </p>
              <a class="blog-btn" href="#">
                <i class="icofont-arrow-left"></i>
                <span>read more</span>
              </a>
            </div>
          </div>
          <div class="blog-card">
            <div class="blog-media">
              <a class="blog-img" href="#">
                <img src="images/blog/04.jpg" alt="blog" />
              </a>
            </div>
            <div class="blog-content">
              <ul class="blog-meta">
                <li>
                  <i class="fas fa-user"></i>
                  <span>admin</span>
                </li>
                <li>
                  <i class="fas fa-calendar-alt"></i>
                  <span>february 02, 2021</span>
                </li>
              </ul>
              <h4 class="blog-title">
                <a href="blog-details.html"
                  >Voluptate blanditiis provident Lorem ipsum dolor sit amet</a
                >
              </h4>
              <p class="blog-desc">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias
                autem recusandae deleniti nam dignissimos sequi ...
              </p>
              <a class="blog-btn" href="#">
                <i class="icofont-arrow-left"></i>
                <span>read more</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="section-btn-25">
          <a href="blog-grid.html" class="btn btn-outline">
            <i class="fas fa-eye"></i>
            <span>view all blog</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!--=====================================
                      BLOG PART END
        =======================================-->

<!--=====================================
                    INTRO PART START
        =======================================-->
<section class="intro-part">
  <div class="container">
    <div class="row intro-content">
      <div class="col-sm-6 col-lg-3">
        <div class="intro-wrap">
          <div class="intro-icon">
            <i class="fas fa-truck"></i>
          </div>
          <div class="intro-content">
            <h5>توصيل مجاني </h5>
            <p>نوصلك أينما كنت بسرعة وأمان دون أي رسوم إضافية.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="intro-wrap">
          <div class="intro-icon">
            <i class="fas fa-sync-alt"></i>
          </div>
          <div class="intro-content">
            <h5>سياسة إرجاع فورية</h5>
            <p>يمكنك استرجاع المنتج بسهولة وسرعة خلال فترة الضمان المحددة.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="intro-wrap">
          <div class="intro-icon">
            <i class="fas fa-headset"></i>
          </div>
          <div class="intro-content">
            <h5>دعم سريع</h5>
            <p>فريق خدمة العملاء جاهز دائمًا لمساعدتك في أي وقت.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="intro-wrap">
          <div class="intro-icon">
            <i class="fas fa-lock"></i>
          </div>
          <div class="intro-content">
            <h5>طرق دفع آمنة</h5>
            <p>نوفر لك خيارات دفع موثوقة تضمن لك تجربة شراء آمنة ومريحة.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=====================================
                    INTRO PART END
        =======================================-->

{% endblock %}