{% load static %}
<div class="cart-header">
    <div class="cart-total">
        <i class="fas fa-shopping-basket"></i>
        <span>إجمالي العناصر ({{ cart|length }})</span>
    </div>
    <button class="cart-close"><i class="icofont-close"></i></button>
</div>
<ul class="cart-list">
    {% for item in cart %}
    <li class="cart-item">
        <div class="cart-media">
            <a href="#"><img src="{{ item.product.image.url }}" alt="product"></a>
            <button class="cart-delete cart-remove-btn" type="button" data-id="{{ item.product.id }}"><i class="far fa-trash-alt"></i></button>
        </div>
        <div class="cart-info-group">
            <div class="cart-info">
                <h6><a href="{% url 'product_detail' item.product.slug %}">{{ item.product.name }}</a></h6>
                <p>سعر الوحدة - {{ item.price }} ر.س</p>
            </div>
            <div class="cart-action-group">
                <div class="product-action">
                    <button class="action-minus" title="Quantity Minus"><i class="icofont-minus"></i></button>
                    <input class="action-input" title="Quantity Number" type="text" name="quantity" value="{{ item.quantity }}" data-id="{{ item.product.id }}">
                    <button class="action-plus" title="Quantity Plus"><i class="icofont-plus"></i></button>
                </div>
                <h6>{{ item.total_price }} ر.س</h6>
            </div>
        </div>
    </li>
    {% empty %}
    <li class="text-center p-3">سلة المشتريات فارغة</li>
    {% endfor %}
</ul>
<div class="cart-footer">
    <a class="cart-checkout-btn" href="{% url 'cart:checkout' %}">
        <span class="checkout-label">الذهاب للدفع</span>
        <span class="checkout-price">{{ cart.get_total_price }} ر.س</span>
    </a>
</div>
